.container {
  @apply grid place-items-center h-screen;
}

.card {
  @apply select-none
    backdrop-blur-sm
    flex
    flex-col
    justify-between
    pb-4
    pt-4
    items-center
    h-96
    w-[400px]
    rounded-[40px]
    text-white
    shadow-xl
    border-[1px]
    border-[#2346e2]
    overflow-hidden;
}

.card {
  background: rgba(59, 65, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(82, 82, 193, 0.3);
}

.weatherData {
  @apply mt-0
  font-extrabold
  text-xl
  bg-gray-50/25
  p-1 pl-3 pr-3
  relative
  top-[-16px];
}

.desc {
  @apply first-letter:capitalize;
}

nav {
  @apply flex
  items-center
  justify-between
  pl-6 pr-6
  w-[400px]
  relative
  h-[42px];
}

.datas {
  @apply flex
  items-center
  gap-8;
}

.dataValue {
  @apply text-left;
}

.dataIcon {
  @apply w-[150px];
}

.openIcon {
  @apply m-6;
}

.dataDate {
  @apply font-medium;
}

.tempValue {
  @apply text-7xl
  font-bold;
}

.tempProp {
  @apply text-base
  align-top;
}

.dataName {
  @apply font-light
  text-slate-200;
}

.status {
  @apply border-t
  pt-4
  border-red-50/25
  flex
  gap-10;
}

.valueStatus {
  @apply flex
  w-24
  flex-col
  items-center;
}

.valueIcon {
  @apply font-black
  text-3xl
  mb-2;
}

.valueValue {
  @apply font-bold;
}

.valueName {
  @apply text-sm
  font-light;
}
